.trai{
    background-color: #aeb6b3f9;
    height: 100px !important;
    margin-left: 100px !important;
    margin-top: 10PX;
    
 
}
.trai h1{
    text-align: center !important;
    font-weight: bold;
    font-size: 70px;
    padding-left: 260px;
    
}

.tra h1{
    text-align: center !important;
    font-weight: bold;
    font-size: 40px;
    
}

.formulaire h1{
    font-weight: bold;
}

.tra{
    background-color: #aeb6b3f9;
    height: 100px !important;
    margin-left: 100px !important;
    margin-top: 10px;
 
}

.tra1{
    background-color: white;
    height: 100px;
    margin-left: 100px !important;
    margin-top: 10px;
 
}

.bobo{
    width: 100px;
    height: 100px;
 
}

.esi{
    
    margin-left: 300px;
}

 .triple{
 display: flex;

 }
 .welcom{
    margin-left: 190px;
 }

 .activite h1{
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
   
 }

.page {

    background-color: #aeb6b3f9
}

.boboo{

width: 350px !important;
height: 100px !important;


}

.esii{
     margin-left: 400px;
  
}
 
.cadre{
    background-color: #aeb6b3f9;
    height: 450px !important;
    margin-left: 100px!important;
    margin-top: 50px !important;
    border-radius: 30px;
    text-align: center;
}

.cadre1{
    background-color: #aeb6b3f9;
    height: 600px !important;
    width:1200px;
    margin-top: 50px !important;
    border-radius: 30px;
    
}

.souligne{
    background-color: black;
    height: 5px;
    width: 200px;
    margin-left: 360px;
}

.souligne1{
    background-color: black;
    height: 5px;
    width: 400px;
    margin-left: 360px;
}

.souligne2{
    background-color: black;
    height: 9px;
    width: 250px;
    margin-left: 50px !important;
}


.souligne3{
    background-color: black;
    height: 500px;
    width: 15px;
    margin-left: 310px !important;
}

.porte{
    margin-top: 30px;
    padding-left: 150px !important;
 
}
    
.card-body{
    padding-right: 300px;
    
}

